{% load staticfiles %}
<!DOCTYPE html5>

<html>
  <head>
    <meta charset="utf-8">
    <title>narxil</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <header class="containerMe">

      <div class="logo">
        <h1><a href="#">narxil</a></h1>
      </div>
      {% print("ciao") %}


      {% for post in posts %}
      <div class="">
        <div class="post">
          <h4 class="titolo_post">{{ post.title }}</h4>
          <div class="data">
            <p>Pubblicato: {{ post.published_date }}</p>
          </div>
          <p>{{ post.text|linebreaksbr }}</p>
          <a class="link" href="#">read</a>
        </div>
      </div>
      {% endfor %}



    </header>
  </body>
</html>
