body{padding: 20px;}
.containerMe{margin: 20px auto; width: 640px;padding 30px;}
h1 a{color:#E80C7A;}
h1 a:hover{color: #CF0D8F;}
.logo{padding-bottom: 30px;}
.data{font-size: 0.5em; color:#AAABAB; padding-bottom: 0px; width: 100%;}
.post{width: 100%; font-size: 1em; margin-top: 0px; padding-top: 0px; padding-bottom: 30px;}
mark.marker{background-color: #fff; border: 1px solid; border-color: #E80C7A; border-radius: 3px; color: #E80C7A;}
