body{padding: 20px;}
.containerMe{margin: 20px auto; width: 640px;padding 30px;}
h1 a{color:#E80C7A;}
h1 a:hover{color: #CF0D8F;}
.logo{padding-bottom: 30px;}
.data{font-size: 0.8em; color:#AAABAB; padding-bottom: 0px; width: 100%;}
.post{width: 100%; font-size: 1.2em; margin-top: 0px; padding-top: 0px; padding-bottom: 30px;}
mark.marker{background-color: #E80C7A; border: 0px solid; border-radius: 8px; color: #FFF;padding: 2px 10px 2px 10px;}
